body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box}
input[type=text]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
input[type=text]:focus{
    background-color: #ddd;
    outline: none;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.7;
}
button:hover {
    opacity:6;
}
.cancelbtn {
    float: left;
    
    padding: 14px 20px;
    background-color: #f44336;
    width: 43%;
    border-radius: 20px;
}
 .signupbtn {
  float: right;
  width: 43%;
  border-radius: 20px;
  
}
.container {
    padding: 16px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: #474e5d;
    padding-top: 50px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 80%;
}
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
    margin-left: 18px;
}
.container1 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
select {
    width: 40%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
